*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("1.gif");
    background-size: cover;
    background-position: center;
    height: 680px
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 66px;
    text-decoration: underline;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition:0.6s;
}
.btn:hover{
    background-color: white;
    color: black;
}
.dropbtn {
    background-color:transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    display: inline-block;
    max-width: 1900px;
    margin: auto;
    position: absolute;
    top: 2%;
    right: 180px;
}
.dropdown-content{
    display: none;
    position: absolute;
    left: 0;
    background-color:#f9f9f9;
    min-width: 160px;
}
.dropdown-content a{
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
}
.dropdown:hover
.dropdown-content{
    display: block;
}
.dropbtn1 {
    background-color:transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown1{
    display: inline-block;
    margin: auto;
    position:absolute;
    top: 2%;
    right:280px;;
}
.dropdown-content1{
    display: none;
    position: absolute;
    left: 0;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content1 a{
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
}
.dropdown1:hover
.dropdown-content1{
    display: block;
}
.dropbtn2{
    background-color:transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown2{
    display: inline-block;
    margin: auto;
    position:absolute;
    top: 2%;
    right:380px;;
}
.dropdown-content2{
    display: none;
    position: absolute;
    left: 0;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content2 a{
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
}
.dropdown2:hover
.dropdown-content2{
    display: block;
}
.dropbtn3{
    background-color:transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown3{
    display: inline-block;
    margin: auto;
    position:absolute;
    top: 2%;
    right:480px;;
}
.dropdown-content3{
    display: none;
    position: absolute;
    left: 0;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content3 a{
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
}
.dropdown3:hover
.dropdown-content3{
    display: block;
}
.dropbtn4{
    background-color:transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown4{
    display: inline-block;
    margin: auto;
    position:absolute;
    top: 2%;
    right:620px;;
}
.dropdown-content4{
    display: none;
    position: absolute;
    left: 0;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content4 a{
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
}
.dropdown4:hover
.dropdown-content4{
    display: block;
}
marquee{
    color: rgb(235, 235, 235);
    background-color: rgb(12, 97, 150);
    font-family: 'Courier New', Courier, monospace;
}
